.upload__droparea.hover,
.upload__droparea:hover{border-color:gray}

.upload__file{float:left;position:relative;
	width:192px;height:215px;cursor:move}
.upload__file:hover a{display:inline;text-decoration:none}
.upload__file__thumb{width:100%}
.upload__file__caption{text-align:left}
.upload__file__caption input[type=text]{width:144px;
	padding:4px 30px 4px 4px;margin:0;font-size:12px}
.upload__file__wrap{
	background:gainsboro url(upload-spinner.gif) 50% 50% no-repeat;
	width:182px;height:182px;text-align:center;overflow:hidden}
.upload__delete{position:absolute;right:10px;top:0;color:black;background:rgba(255,255,255,.5);font-size:20px;padding:0 .3rem;display:inline-block}
.upload__delete input{display:none}
.upload__file__ext{font-size:20px;padding-top:5rem}

.upload__progress_bar{position:absolute;top:130px;left:10px;width:162px;
	    background:rgba(255,255,255,0.3);display:none}
.upload__progress_bar,
.upload__progress_bar i{height:5px;border:1px solid #aaa}
.upload__progress_bar i{border-width:0 1px 0 0;
	background:#ddf0ff;display:block;width:0}
